﻿@page "/"
@inherits IndexBase

<h1>Predatory Journals</h1>

<EditForm Model="FoundJournals">
    <InputText @bind-Value="SearchText" @onkeydown="SearchJournalsAsync" />

    <table>
        <tr>
            <th>URL</th>
            <th>Name</th>
            <th>Abbreviation</th>
        </tr>
        @foreach (var journal in FoundJournals)
        {
            <tr>
                <td>@journal.Url</td>
                <td>@journal.Name</td>
                <td>@journal.Abbreviation</td>
            </tr>
        }
        <tr></tr>
    </table>
</EditForm>